<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--<setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>-->
        <!--类标签替换类别名-->
        <setting name="useColumnLabel" value="true"/>
        <!--使用jdbc的getGeneratedKeys来获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--开启驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--<setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="localCacheScope" value="STATEMENT"/>-->
    </settings>
    <!--别名定义在这里-->
    <typeAliases>
        <package name="com.du.test.dal.domain"></package>
    </typeAliases>
</configuration>